.status-badge {
  display: inline-block;
  padding: var(--spacing-dimension-50) var(--spacing-dimension-100);
  border-radius: 9999px;
  font-size: var(--font-size-50);
  font-weight: var(--semibold-500);
  line-height: var(--line-height-3);
  white-space: nowrap;
}

/* DRAFT = 초안 (그레이톤) */
.status-badge--draft {
  background-color: var(--color-scale-gray-100);
  color: var(--color-scale-gray-600);
}

/* DRAFT = 테스트 중 (옐로우톤) */
.status-badge--review {
  background-color: var(--color-scale-yellow-200);
  color: var(--color-scale-yellow-600);
}

/* ACTIVE = 안정화됨 (그린톤) */
.status-badge--active {
  background-color: var(--color-scale-green-alpha-300);
  color: var(--color-scale-green-800);
}

/* DEPRECATED = 폐기 예정 (붉은계열) */
.status-badge--deprecated {
  background-color: var(--color-scale-deep-red-100);
  color: var(--color-scale-deep-red-600);
}

/* HOLD = 보류 중 (오렌지톤) => 삭제해야함 */
.status-badge--hold {
  background-color: var(--color-scale-orange-red-200);
  color: var(--color-scale-orange-red-800);
}

.componentPatternCard {
  padding: var(--spacing-dimension-150);
  border: 1px solid var(--color-scale-gray-alpha-200);
  border-radius: var(--corner-radius-50);
  background-color: var(--color-scale-gray-100);
}

.componentPatternCard:hover {
  background-color: var(--color-scale-gray-200);
  cursor: pointer;
}
