registry=https://nexus.mng.musinsa.io/repository/npm-all/

enable-pre-post-scripts=true
auto-install-peers=true

# https://nextui.org/docs/guide/installation#setup-pnpm-optional
public-hoist-pattern[]=*@nextui-org/*