@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "../tokens/tokens.css";
@import './components/lottie-assets-list.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 box model 정리 */
* {
  box-sizing: border-box;
}


#__next {
  height: 100vh;
  overflow: hidden;
}

html { 
  height: 100%;
  overflow: hidden;
  font-size: var(--font-size-200);
}

/* 기본 폰트 및 배경 */
body { 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-semantic-background-default);
  color: var(--color-semantic-text-primary);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: var(--line-height-5);
}

/* Ruler Heading Styles (h1~h6) */

h1 {
  margin-top: var(--spacing-dimension-400);
  margin-bottom: var(--spacing-dimension-200);
  font-size: var(--font-size-1000);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

h2 {
  margin-top: var(--spacing-dimension-350);
  margin-bottom: var(--spacing-dimension-200);
  font-size: var(--font-size-600);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

h3 {
  margin-top: var(--spacing-dimension-300);
  margin-bottom: var(--spacing-dimension-150);
  font-size: var(--font-size-600);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

h4 {
  margin-top: var(--spacing-dimension-250);
  margin-bottom: var(--spacing-dimension-150);
  font-size: var(--font-size-500);
  font-weight: var(--bold-700);
  line-height: var(--line-height-2);
}

h5 {
  margin-top: var(--spacing-dimension-200);
  margin-bottom: var(--spacing-dimension-100);
  font-size: var(--font-size-400);
  font-weight: var(--bold-700);
  line-height: var(--line-height-2);
}

h6 {
  margin-top: var(--spacing-dimension-150);
  margin-bottom: var(--spacing-dimension-100);
  font-size: var(--font-size-300);
  font-weight: var(--bold-700);
  line-height: var(--line-height-1);
}

/* 단락 */
p {
  margin-bottom: var(--spacing-dimension-200);
  color: var(--color-semantic-text-primary);
  font-size: var(--font-size-200);
}

/* 링크 스타일 */
a {
  color: var(--color-semantic-text-link);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* 리스트 스타일 */
ul {
  margin-bottom: var(--spacing-dimension-200);
  margin-left: var(--spacing-dimension-200);
  font-size: var(--font-size-200);
  list-style-type: disc;
}

ol {
  margin-bottom: var(--spacing-dimension-200);
  margin-left: var(--spacing-dimension-200);
  font-size: var(--font-size-200);
  list-style-type: decimal;
}



/* 코드 블럭 & 인라인 코드 */
pre {
  margin-bottom: var(--spacing-dimension-300);
  padding: var(--spacing-dimension-200);
  overflow-x: auto;
  border-radius: var(--radius-corner-radius-100);
  background-color: var(--color-semantic-fill-surface-contents);
  font-size: var(--font-size-100);
}

code {
  padding: var(--spacing-dimension-50) var(--spacing-dimension-100);
  border: 1px solid var(--color-scale-gray-900);
  border-radius: var(--corner-radius-50);
  color: var(--color-semantic-text-primary);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-75);
}

/* === TEXT === */
.text-primary {
  color: var(--color-semantic-text-primary);
}
.text-secondary {
  color: var(--color-semantic-text-secondary);
}
.text-on-color {
  color: var(--color-semantic-text-on-color);
}

/* === BACKGROUND === */
.bg-surface {
  background-color: var(--color-semantic-background-default);
}
.bg-surface-contents {
  background-color: var(--color-semantic-fill-surface-contents);
}
.bg-primary {
  background-color: var(--color-semantic-fill-primary);
}
.bg-primary-hover {
  background-color: var(--color-semantic-fill-primary-hover);
}
.bg-primary-pressed {
  background-color: var(--color-semantic-fill-primary-pressed);
}

/* === BORDER === */
.border-default {
  border: 1px solid var(--color-semantic-border-line);
}
.border-strong {
  border: 1px solid var(--color-semantic-border-divider-strong);
}
.border-selected {
  border: 1px solid var(--color-semantic-border-line-selected);
}

/* === RADIUS === */
.radius-sm {
  border-radius: var(--radius-corner-radius-50);
}
.radius-md {
  border-radius: var(--radius-corner-radius-100);
}
.radius-lg {
  border-radius: var(--radius-corner-radius-200);
}

/* === SPACING === */
.px-md {
  padding-right: var(--spacing-dimension-200);
  padding-left: var(--spacing-dimension-200);
}
.py-md {
  padding-top: var(--spacing-dimension-200);
  padding-bottom: var(--spacing-dimension-200);
}
.mb-md {
  margin-bottom: var(--spacing-dimension-200);
}
.mb-lg {
  margin-bottom: var(--spacing-dimension-300);
}

/* === FONT SIZE === */

.title-xxl {
  font-size: var(--font-size-550);
  font-weight: var(--regular-400);
  line-height: var(--line-height-3);
}

.title-xxl-medium {
  font-size: var(--font-size-550);
  font-weight: var(--medium-500);
  line-height: var(--line-height-3);
}

.title-xxl-bold {
  font-size: var(--font-size-550);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

.title-xl-medium {
  font-size: var(--font-size-500);
  font-weight: var(--medium-500);
  line-height: var(--line-height-3);
}

.title-xl-bold {
  font-size: var(--font-size-500);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

.title-l-medium {
  font-size: var(--font-size-400);
  font-weight: var(--medium-500);
  line-height: var(--line-height-3);
}

.title-l-bold {
  font-size: var(--font-size-400);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

.title-m-medium {
  font-size: var(--font-size-350);
  font-weight: var(--medium-500);
  line-height: var(--line-height-3);
}

.title-m-bold {
  font-size: var(--font-size-350);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

.title-s-medium {
  font-size: var(--font-size-300);
  font-weight: var(--medium-500);
  line-height: var(--line-height-3);
}

.title-s-bold {
  font-size: var(--font-size-300);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

.title-xs-medium {
  font-size: var(--font-size-250);
  font-weight: var(--medium-500);
  line-height: var(--line-height-3);
}

.title-xs-bold {
  font-size: var(--font-size-250);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

.text-xxl-medium {
  font-size: var(--font-size-200);
  font-weight: var(--medium-500);
  line-height: var(--line-height-4);
}

.text-xxl-bold {
  font-size: var(--font-size-200);
  font-weight: var(--bold-700);
  line-height: var(--line-height-4);
}

.text-xxl {
  font-size: var(--font-size-200);
  font-weight: var(--regular-400);
  line-height: var(--line-height-4);
}

.text-xl {
  font-size: var(--font-size-150);
  font-weight: var(--regular-400);
  line-height: var(--line-height-5);
}

.text-xl-medium {
  font-size: var(--font-size-150);
  font-weight: var(--medium-500);
  line-height: var(--line-height-5);
}

.text-xl-bold {
  font-size: var(--font-size-150);
  font-weight: var(--bold-700);
  line-height: var(--line-height-5);
}

.text-l {
  font-size: var(--font-size-125);
  font-weight: var(--regular-400);
  line-height: var(--line-height-4);
}

.text-l-medium {
  font-size: var(--font-size-125);
  font-weight: var(--medium-500);
  line-height: var(--line-height-4);
}

.text-l-bold {
  font-size: var(--font-size-125);
  font-weight: var(--bold-700);
  line-height: var(--line-height-4);
}

.text-m {
  font-size: var(--font-size-100);
  font-weight: var(--regular-400);
  line-height: var(--line-height-4);
}

.text-m-medium {
  font-size: var(--font-size-100);
  font-weight: var(--medium-500);
  line-height: var(--line-height-4);
}

.text-m-bold {
  font-size: var(--font-size-100);
  font-weight: var(--bold-700);
  line-height: var(--line-height-4);
}

.text-s {
  font-size: var(--font-size-75);
  font-weight: var(--regular-400);
  line-height: var(--line-height-3);
}

.text-s-medium {
  font-size: var(--font-size-75);
  font-weight: var(--medium-500);
  line-height: var(--line-height-3);
}

.text-s-bold {
  font-size: var(--font-size-75);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

.text-xs-medium {
  font-size: var(--font-size-50);
  font-weight: var(--medium-500);
  line-height: var(--line-height-3);
}

.text-xs {
  font-size: var(--font-size-50);
  font-weight: var(--regular-400);
  line-height: var(--line-height-3);
}

.text-xs-bold {
  font-size: var(--font-size-50);
  font-weight: var(--bold-700);
  line-height: var(--line-height-3);
}

.text-xxs {
  font-size: var(--font-size-25);
  font-weight: var(--regular-400);
  line-height: var(--line-height-2);
}

.text-xxs-medium {
  font-size: var(--font-size-25);
  font-weight: var(--medium-500);
  line-height: var(--line-height-2);
}

.text-xxs-bold {
  font-size: var(--font-size-25);
  font-weight: var(--bold-700);
  line-height: var(--line-height-2);
}

/* 버튼 공통 클래스 */
.primary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 88px;
  height: 52px;
  padding-right: var(--spacing-dimension-200);

  padding-left: var(--spacing-dimension-200);

  border-radius: var(--corner-radius-50);

  background-color: var(--color-semantic-fill-primary);
  color: var(--color-semantic-text-on-color);

  font-size: var(--font-size-125);
  font-weight: var(--bold-700);
  line-height: var(--line-height-4);

  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color var(--duration-250);
}

.primary-button:hover {
  background-color: var(--color-semantic-fill-primary-hover);
}

.secondary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 88px;
  height: 52px;
  padding-right: var(--spacing-dimension-200);

  padding-left: var(--spacing-dimension-200);
  border: 1px solid var(--color-semantic-border-line);

  border-radius: var(--corner-radius-50);

  background-color: transparent;
  color: var(--color-semantic-common-interactive);

  font-size: var(--font-size-125);
  font-weight: var(--bold-700);
  line-height: var(--line-height-4);

  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color var(--duration-250);
}

.secondary-button:hover {
  background-color: var(--color-semantic-fill-surface-contents);
}
