/* src/styles/layout.css */

/* 헤더 영역 (TopNav) */
.header {
  position: sticky;
  top: 0px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 var(--spacing-dimension-400);
  border-bottom: 1px solid var(--color-scale-gray-200);

  /* ✅ 배경 흐림 효과 */
  background-color: var(--color-fill-header);
  color: var(--color-semantic-fill-primary);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: var(--spacing-dimension-300);
}

/* 콘텐츠 영역의 최대 너비 설정 (TOC 포함 시 확장) */
/* 문서 컨테이너 */
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  margin-top: var(--spacing-dimension-400);
  color: var(--color-semantic-text-secondary);
  font-size: var(--font-size-100);
  text-align: center;
}


