:root {
  --color-static-black: #000000;
  --color-static-white: #ffffff;
  --color-static-white-alpha-200: #FFFFFF20;
  --color-static-white-alpha-500: #FFFFFF80;
  --color-static-white-alpha-900: #FFFFFFe6;
  --color-static-black-alpha-200: #00000020;
  --color-static-black-alpha-500: #00000080;
  --color-static-black-alpha-900: #000000e6;
  --color-shadow-100-value-x: 0;
  --color-shadow-100-value-y: 10;
  --color-shadow-100-value-blur: 40;
  --color-shadow-100-value-spread: 0;
  --color-shadow-100-value-color: rgba(0, 0, 0, 0.15);;
  --color-shadow-100-value-type: dropShadow;
  --color-shadow-100-type: boxShadow;
  --color-semantic-text-on-color: var(--color-scale-gray-00);
  --color-semantic-text-primary: var(--color-scale-gray-950);
  --color-semantic-text-primary-hover: var(--color-scale-gray-600);
  --color-semantic-text-primary-pressed: var(--color-scale-gray-600);
  --color-semantic-text-secondary: var(--color-scale-gray-600);
  --color-semantic-text-secondary-hover: var(--color-scale-gray-500);
  --color-semantic-text-secondary-pressed: var(--color-scale-gray-500);
  --color-semantic-text-tertiary: var(--color-scale-gray-500);
  --color-semantic-text-tertiary-hover: var(--color-scale-gray-500);
  --color-semantic-text-tertiary-pressed: var(--color-scale-gray-500);
  --color-semantic-text-disabled: var(--color-scale-gray-500);
  --color-semantic-common-interactive-low: var(--color-scale-blue-500);
  --color-semantic-common-interactive: var(--color-scale-blue-500);
  --color-semantic-common-interactive-hover: var(--color-scale-blue-400);
  --color-semantic-common-interactive-pressed: var(--color-scale-blue-400);
  --color-semantic-common-positive-low: var(--color-scale-green-500);
  --color-semantic-common-positive: var(--color-scale-green-500);
  --color-semantic-common-positive-hover: var(--color-scale-green-400);
  --color-semantic-common-positive-pressed: var(--color-scale-green-400);
  --color-semantic-common-accent-low: var(--color-scale-orange-red-500);
  --color-semantic-common-accent: var(--color-scale-orange-red-500);
  --color-semantic-common-negative: var(--color-scale-deep-red-600);
  --color-semantic-common-negative-hover: var(--color-scale-deep-red-400);
  --color-semantic-common-negative-pressed: var(--color-scale-deep-red-400);
  --color-semantic-common-on-white: var(--color-scale-gray-00);
  --color-semantic-common-on-white-pressed: var(--color-static-white-alpha-900);
  --color-semantic-common-on-white-hover: var(--color-static-white-alpha-900);
  --color-semantic-common-on-black: var(--color-scale-gray-950);
  --color-semantic-common-on-black-hover: var(--color-static-black-alpha-900);
  --color-semantic-common-on-black-pressed: var(--color-static-black-alpha-900);
  --color-semantic-background-default: var(--color-scale-gray-00);
  --color-semantic-background-default-black: var(--color-scale-gray-950);
  --color-semantic-fill-primary: var(--color-scale-gray-950);
  --color-semantic-fill-primary-hover: var(--color-scale-gray-800);
  --color-semantic-fill-primary-pressed: var(--color-scale-gray-800);
  --color-semantic-fill-secondary: var(--color-scale-gray-700);
  --color-semantic-fill-tertiary: var(--color-scale-gray-500);
  --color-semantic-fill-silent: var(--color-scale-gray-00);
  --color-semantic-fill-silent-hover: var(--color-scale-gray-500);
  --color-semantic-fill-silent-pressed: var(--color-scale-gray-500);
  --color-semantic-fill-disabled: var(--color-scale-gray-500);
  --color-semantic-fill-surface-contents: var(--color-scale-gray-100);
  --color-semantic-fill-surface-floating: var(--color-scale-gray-950);
  --color-semantic-fill-surface-dialog: var(--color-scale-gray-00);
  --color-semantic-fill-surface-sheet: var(--color-scale-gray-00);
  --color-semantic-fill-surface-black: var(--color-scale-gray-950);
  --color-semantic-border-divider-strong: var(--color-scale-gray-950);
  --color-semantic-border-divider: var(--color-scale-gray-500);
  --color-semantic-border-line: var(--color-scale-gray-500);
  --color-semantic-border-line-hover: var(--color-scale-gray-500);
  --color-semantic-border-line-pressed: var(--color-scale-gray-500);
  --color-semantic-border-line-selected: var(--color-scale-gray-950);
  --color-semantic-border-line-disabled: var(--color-scale-gray-500);
  --color-semantic-overlay-dimmed: var(--color-static-black-alpha-500);
  --font-size-25: 0.625rem;
  --font-size-50: 0.6875rem;
  --font-size-75: 0.75rem;
  --font-size-100: 0.8125rem;
  --font-size-125: 0.875rem;
  --font-size-150: 0.9375rem;
  --font-size-200: 1rem;
  --font-size-250: 1.125rem;
  --font-size-300: 1.25rem;
  --font-size-350: 1.375rem;
  --font-size-400: 1.5rem;
  --font-size-500: 1.75rem;
  --font-size-550: 1.875rem;
  --font-size-600: 2rem;
  --font-size-1000: 3rem;
  --font-size-1300: 3.75rem;
  --font-size-1400: 4rem;
  --font-size-1500: 4.25rem;
  --font-size-1600: 4.5rem;
  --font-size-2100: 5.75rem;
  --thin-100: 100;
  --extraLight-200: 200;
  --light-300: 300;
  --regular-400: 400;
  --medium-500: 500;
  --semibold-600: 600;
  --bold-700: 700;
  --extraBold-800: 800;
  --line-height-1: 1;
  --line-height-2: 1.2;
  --line-height-3: 1.36;
  --line-height-4: 1.4;
  --line-height-5: 1.5;
  --line-height-6: 1.6;
  --duration-150: 150ms;
  --duration-250: 250ms;
  --duration-350: 350ms;
  --duration-400: 400ms;
  --duration-500: 500ms;
  --duration-800: 800ms;
  --spacing-dimension-00: 0;
  --spacing-dimension-25: 0.125rem;
  --spacing-dimension-50: 0.25rem;
  --spacing-dimension-75: 0.375rem;
  --spacing-dimension-100: 0.5rem;
  --spacing-dimension-125: 0.625rem;
  --spacing-dimension-150: 0.75rem;
  --spacing-dimension-200: 1rem;
  --spacing-dimension-225: 1.125rem;
  --spacing-dimension-250: 1.25rem;
  --spacing-dimension-300: 1.5rem;
  --spacing-dimension-350: 1.75rem;
  --spacing-dimension-375: 1.875rem;
  --spacing-dimension-400: 2rem;
  --spacing-dimension-500: 2.5rem;
  --spacing-dimension-600: 3rem;
  --spacing-dimension-700: 3.5rem;
  --spacing-dimension-750: 3.75rem;
  --spacing-dimension-800: 4rem;
  --spacing-dimension-900: 4.5rem;
  --spacing-dimension-950: 4.75rem;
  --spacing-dimension-1000: 5rem;
  --spacing-dimension-1100: 5.5rem;
  --spacing-dimension-1150: 5.75rem;
  --spacing-dimension-1200: 6.25rem;
  --spacing-dimension-1300: 6.75rem;
  --spacing-dimension-1400: 7.25rem;
  --spacing-dimension-1500: 7.75rem;
  --spacing-dimension-1600: 8.25rem;
  --spacing-dimension-1700: 8.75rem;
  --spacing-dimension-1800: 9.25rem;
  --spacing-dimension-1900: 9.75rem;
  --spacing-dimension-2000: 10.25rem;
  --spacing-dimension-2100: 10.75rem;
  --spacing-dimension-2200: 11.25rem;
  --spacing-dimension-2300: 11.75rem;
  --spacing-dimension-2400: 12.25rem;
  --spacing-dimension-2500: 12.75rem;
  --spacing-dimension-2600: 13.25rem;
  --spacing-dimension-2700: 13.75rem;
  --spacing-dimension-2800: 14.25rem;
  --spacing-dimension-2900: 14.75rem;
  --spacing-dimension-3000: 15.25rem;
  --corner-radius-25: 2px;
  --corner-radius-50: 4px;
  --corner-radius-75: 6px;
  --corner-radius-100: 8px;
  --corner-radius-200: 16px;
  --corner-radius-250: 20px;
  --corner-radius-full: 9999px;
  --color-scale-gray-00: #ffffff;
  --color-scale-gray-100: #f4f4f4;
  --color-scale-gray-200: #e4e4e4;
  --color-scale-gray-300: #c4c4c4;
  --color-scale-gray-400: #a0a0a0;
  --color-scale-gray-500: #5d5d5d;
  --color-scale-gray-600: #474747;
  --color-scale-gray-700: #303033;
  --color-scale-gray-800: #27272A;
  --color-scale-gray-900: #19191A;
  --color-scale-gray-950: #000000;
  --color-scale-orange-red-100: #ffefeb;
  --color-scale-orange-red-200: #ffbfaa;
  --color-scale-orange-red-300: #ff916c;
  --color-scale-orange-red-400: #ff6933;
  --color-scale-orange-red-500: #ff4800;
  --color-scale-orange-red-600: #d53f00;
  --color-scale-orange-red-700: #ab3803;
  --color-scale-orange-red-800: #823107;
  --color-scale-orange-red-900: #582609;
  --color-scale-orange-red-950: #2e1608;
  --color-scale-deep-red-100: #FFE6E6;
  --color-scale-deep-red-200: #F2A9A9;
  --color-scale-deep-red-300: #E67373;
  --color-scale-deep-red-400: #D94141;
  --color-scale-deep-red-500: #CC1414;
  --color-scale-deep-red-600: #AD0700;
  --color-scale-deep-red-700: #8F0B00;
  --color-scale-deep-red-800: #700D00;
  --color-scale-deep-red-900: #520D00;
  --color-scale-deep-red-950: #330A00;
  --color-scale-blue-100: #ebf1ff;
  --color-scale-blue-200: #b8cdff;
  --color-scale-blue-300: #86a5ff;
  --color-scale-blue-400: #5b7fff;
  --color-scale-blue-500: #375fff;
  --color-scale-blue-600: #203ff6;
  --color-scale-blue-700: #1025e5;
  --color-scale-blue-800: #0611bd;
  --color-scale-blue-900: #010474;
  --color-scale-blue-950: #000033;
  --color-scale-yellow-100: #fff7f0;
  --color-scale-yellow-200: #ffdfb9;
  --color-scale-yellow-300: #ffc97f;
  --color-scale-yellow-400: #ffb741;
  --color-scale-yellow-500: #ffa800;
  --color-scale-yellow-600: #d18d16;
  --color-scale-yellow-700: #a37021;
  --color-scale-yellow-800: #755322;
  --color-scale-yellow-900: #47341b;
  --color-scale-yellow-950: #19130c;
  --color-scale-green-100: #eefee6;
  --color-scale-green-200: #c2eeb2;
  --color-scale-green-300: #81dc71;
  --color-scale-green-400: #3fcb3c;
  --color-scale-green-500: #12ba23;
  --color-scale-green-600: #139e14;
  --color-scale-green-700: #1e8215;
  --color-scale-green-800: #246616;
  --color-scale-green-900: #234a15;
  --color-scale-green-950: #1b2e11;
  --color-scale-gray-alpha-200: rgba(93, 93, 93, 0.08);
  --color-scale-gray-alpha-300: rgba(93, 93, 93, 0.16);
  --color-scale-gray-alpha-400: rgba(93, 93, 93, 0.24);
  --color-scale-gray-alpha-500: rgba(93, 93, 93, 0.4);
  --color-scale-gray-alpha-600: rgba(93, 93, 93, 0.52);
  --color-scale-gray-alpha-700: rgba(93, 93, 93, 0.64);
  --color-scale-gray-alpha-800: rgba(93, 93, 93, 0.8);
  --color-scale-orange-red-alpha-200: rgba(255, 72, 0, 0.08);
  --color-scale-orange-red-alpha-300: rgba(255, 72, 0, 0.16);
  --color-scale-orange-red-alpha-400: rgba(255, 72, 0, 0.24);
  --color-scale-deep-red-alpha-200: rgba(204, 20, 20, 0.08);
  --color-scale-deep-red-alpha-300: rgba(204, 20, 20, 0.16);
  --color-scale-deep-red-alpha-400: rgba(204, 20, 20, 0.24);
  --color-scale-blue-alpha-200: rgba(55, 95, 255, 0.08);
  --color-scale-blue-alpha-300: rgba(55, 95, 255, 0.16);
  --color-scale-blue-alpha-400: rgba(55, 95, 255, 0.24);
  --color-scale-green-alpha-200: rgba(18, 186, 35, 0.08);
  --color-scale-green-alpha-300: rgba(18, 186, 35, 0.16);
  --color-scale-green-alpha-400: rgba(18, 186, 35, 0.24);
}

/* 시스템 설정에 따른 다크 모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-scale-gray-00: #000000;
    --color-scale-gray-100: #19191A;
    --color-scale-gray-200: #27272A;
    --color-scale-gray-300: #303033;
    --color-scale-gray-400: #474747;
    --color-scale-gray-500: #5d5d5d;
    --color-scale-gray-600: #a0a0a0;
    --color-scale-gray-700: #c4c4c4;
    --color-scale-gray-800: #e4e4e4;
    --color-scale-gray-900: #f4f4f4;
    --color-scale-gray-950: #ffffff;
    --color-scale-orange-red-100: #2e1608;
    --color-scale-orange-red-200: #582509;
    --color-scale-orange-red-300: #822f07;
    --color-scale-orange-red-400: #ab3703;
    --color-scale-orange-red-500: #d53e00;
    --color-scale-orange-red-600: #ff4800;
    --color-scale-orange-red-700: #ff6c37;
    --color-scale-orange-red-800: #ff9672;
    --color-scale-orange-red-900: #ffc3b0;
    --color-scale-orange-red-950: #ffefeb;
    --color-scale-deep-red-100: #330A00;
    --color-scale-deep-red-200: #520D00;
    --color-scale-deep-red-300: #700D00;
    --color-scale-deep-red-400: #8F0B00;
    --color-scale-deep-red-500: #AD0700;
    --color-scale-deep-red-600: #CC1414;
    --color-scale-deep-red-700: #D94141;
    --color-scale-deep-red-800: #E67373;
    --color-scale-deep-red-900: #F2A9A9;
    --color-scale-deep-red-950: #FFE6E6;
    --color-scale-blue-100: #000033;
    --color-scale-blue-200: #01058b;
    --color-scale-blue-300: #0510be;
    --color-scale-blue-400: #0e22dd;
    --color-scale-blue-500: #1e3cf2;
    --color-scale-blue-600: #375fff;
    --color-scale-blue-700: #5f83ff;
    --color-scale-blue-800: #8dabff;
    --color-scale-blue-900: #bdd1ff;
    --color-scale-blue-950: #ebf1ff;
    --color-scale-yellow-100: #1a130c;
    --color-scale-yellow-200: #47341c;
    --color-scale-yellow-300: #755323;
    --color-scale-yellow-400: #a37122;
    --color-scale-yellow-500: #d18d17;
    --color-scale-yellow-600: #ffa800;
    --color-scale-yellow-700: #ffb741;
    --color-scale-yellow-800: #ffc97f;
    --color-scale-yellow-900: #ffdfb9;
    --color-scale-yellow-950: #fff7f0;
    --color-scale-green-100: #1b2e11;
    --color-scale-green-200: #234a15;
    --color-scale-green-300: #246616;
    --color-scale-green-400: #1e8214;
    --color-scale-green-500: #129e14;
    --color-scale-green-600: #12ba23;
    --color-scale-green-700: #42cb3e;
    --color-scale-green-800: #85dd76;
    --color-scale-green-900: #c5eeb6;
    --color-scale-green-950: #EEFEE6;
    --color-scale-gray-alpha-200: rgba(25, 25, 26, 0.08);
    --color-scale-gray-alpha-300: rgba(25, 25, 26, 0.16);
    --color-scale-gray-alpha-400: rgba(25, 25, 26, 0.24);
    --color-scale-gray-alpha-500: rgba(25, 25, 26, 0.54);
    --color-scale-gray-alpha-600: rgba(25, 25, 26, 0.64);
    --color-scale-gray-alpha-700: rgba(25, 25, 26, 0.74);
    --color-scale-gray-alpha-800: rgba(25, 25, 26, 0.84);
    --color-scale-orange-red-alpha-200: rgba(88, 38, 9, 0.08);
    --color-scale-orange-red-alpha-300: rgba(88, 38, 9, 0.16);
    --color-scale-orange-red-alpha-400: rgba(88, 38, 9, 0.24);
    --color-scale-deep-red-alpha-200: rgba(204, 20, 20, 0.08);
    --color-scale-deep-red-alpha-300: rgba(204, 20, 20, 0.16);
    --color-scale-deep-red-alpha-400: rgba(204, 20, 20, 0.24);
    --color-scale-blue-alpha-200: rgba(1, 4, 116, 0.08);
    --color-scale-blue-alpha-300: rgba(1, 4, 116, 0.16);
    --color-scale-blue-alpha-400: rgba(1, 4, 116, 0.24);
    --color-scale-green-alpha-200: rgba(36, 102, 22, 0.08);
    --color-scale-green-alpha-300: rgba(36, 102, 22, 0.16);
    --color-scale-green-alpha-400: rgba(36, 102, 22, 0.24);
  }
}

/* next-themes 라이트 모드 지원 */
.light {
  --color-scale-gray-00: #ffffff;
  --color-scale-gray-100: #f4f4f4;
  --color-scale-gray-200: #e4e4e4;
  --color-scale-gray-300: #c4c4c4;
  --color-scale-gray-400: #a0a0a0;
  --color-scale-gray-500: #5d5d5d;
  --color-scale-gray-600: #474747;
  --color-scale-gray-700: #303033;
  --color-scale-gray-800: #27272A;
  --color-scale-gray-900: #19191A;
  --color-scale-gray-950: #000000;
  --color-scale-orange-red-100: #ffefeb;
  --color-scale-orange-red-200: #ffbfaa;
  --color-scale-orange-red-300: #ff916c;
  --color-scale-orange-red-400: #ff6933;
  --color-scale-orange-red-500: #ff4800;
  --color-scale-orange-red-600: #d53f00;
  --color-scale-orange-red-700: #ab3803;
  --color-scale-orange-red-800: #823107;
  --color-scale-orange-red-900: #582609;
  --color-scale-orange-red-950: #2e1608;
  --color-scale-deep-red-100: #FFE6E6;
  --color-scale-deep-red-200: #F2A9A9;
  --color-scale-deep-red-300: #E67373;
  --color-scale-deep-red-400: #D94141;
  --color-scale-deep-red-500: #CC1414;
  --color-scale-deep-red-600: #AD0700;
  --color-scale-deep-red-700: #8F0B00;
  --color-scale-deep-red-800: #700D00;
  --color-scale-deep-red-900: #520D00;
  --color-scale-deep-red-950: #330A00;
  --color-scale-blue-100: #ebf1ff;
  --color-scale-blue-200: #b8cdff;
  --color-scale-blue-300: #86a5ff;
  --color-scale-blue-400: #5b7fff;
  --color-scale-blue-500: #375fff;
  --color-scale-blue-600: #203ff6;
  --color-scale-blue-700: #1025e5;
  --color-scale-blue-800: #0611bd;
  --color-scale-blue-900: #010474;
  --color-scale-blue-950: #000033;
  --color-scale-yellow-100: #fff7f0;
  --color-scale-yellow-200: #ffdfb9;
  --color-scale-yellow-300: #ffc97f;
  --color-scale-yellow-400: #ffb741;
  --color-scale-yellow-500: #ffa800;
  --color-scale-yellow-600: #d18d16;
  --color-scale-yellow-700: #a37021;
  --color-scale-yellow-800: #755322;
  --color-scale-yellow-900: #47341b;
  --color-scale-yellow-950: #19130c;
  --color-scale-green-100: #eefee6;
  --color-scale-green-200: #c2eeb2;
  --color-scale-green-300: #81dc71;
  --color-scale-green-400: #3fcb3c;
  --color-scale-green-500: #12ba23;
  --color-scale-green-600: #139e14;
  --color-scale-green-700: #1e8215;
  --color-scale-green-800: #246616;
  --color-scale-green-900: #234a15;
  --color-scale-green-950: #1b2e11;
  --color-scale-gray-alpha-200: rgba(93, 93, 93, 0.08);
  --color-scale-gray-alpha-300: rgba(93, 93, 93, 0.16);
  --color-scale-gray-alpha-400: rgba(93, 93, 93, 0.24);
  --color-scale-gray-alpha-500: rgba(93, 93, 93, 0.4);
  --color-scale-gray-alpha-600: rgba(93, 93, 93, 0.52);
  --color-scale-gray-alpha-700: rgba(93, 93, 93, 0.64);
  --color-scale-gray-alpha-800: rgba(93, 93, 93, 0.8);
  --color-scale-orange-red-alpha-200: rgba(255, 72, 0, 0.08);
  --color-scale-orange-red-alpha-300: rgba(255, 72, 0, 0.16);
  --color-scale-orange-red-alpha-400: rgba(255, 72, 0, 0.24);
  --color-scale-deep-red-alpha-200: rgba(204, 20, 20, 0.08);
  --color-scale-deep-red-alpha-300: rgba(204, 20, 20, 0.16);
  --color-scale-deep-red-alpha-400: rgba(204, 20, 20, 0.24);
  --color-scale-blue-alpha-200: rgba(55, 95, 255, 0.08);
  --color-scale-blue-alpha-300: rgba(55, 95, 255, 0.16);
  --color-scale-blue-alpha-400: rgba(55, 95, 255, 0.24);
  --color-scale-green-alpha-200: rgba(18, 186, 35, 0.08);
  --color-scale-green-alpha-300: rgba(18, 186, 35, 0.16);
  --color-scale-green-alpha-400: rgba(18, 186, 35, 0.24);
  --color-fill-navigation: var(--color-static-white-alpha-500);
}

/* 클래스 기반 다크 모드 */
.dark {
  --color-scale-gray-00: #000000;
  --color-scale-gray-100: #19191A;
  --color-scale-gray-200: #27272A;
  --color-scale-gray-300: #303033;
  --color-scale-gray-400: #474747;
  --color-scale-gray-500: #5d5d5d;
  --color-scale-gray-600: #a0a0a0;
  --color-scale-gray-700: #c4c4c4;
  --color-scale-gray-800: #e4e4e4;
  --color-scale-gray-900: #f4f4f4;
  --color-scale-gray-950: #ffffff;
  --color-scale-orange-red-100: #2e1608;
  --color-scale-orange-red-200: #582509;
  --color-scale-orange-red-300: #822f07;
  --color-scale-orange-red-400: #ab3703;
  --color-scale-orange-red-500: #d53e00;
  --color-scale-orange-red-600: #ff4800;
  --color-scale-orange-red-700: #ff6c37;
  --color-scale-orange-red-800: #ff9672;
  --color-scale-orange-red-900: #ffc3b0;
  --color-scale-orange-red-950: #ffefeb;
  --color-scale-deep-red-100: #330A00;
  --color-scale-deep-red-200: #520D00;
  --color-scale-deep-red-300: #700D00;
  --color-scale-deep-red-400: #8F0B00;
  --color-scale-deep-red-500: #AD0700;
  --color-scale-deep-red-600: #CC1414;
  --color-scale-deep-red-700: #D94141;
  --color-scale-deep-red-800: #E67373;
  --color-scale-deep-red-900: #F2A9A9;
  --color-scale-deep-red-950: #FFE6E6;
  --color-scale-blue-100: #000033;
  --color-scale-blue-200: #01058b;
  --color-scale-blue-300: #0510be;
  --color-scale-blue-400: #0e22dd;
  --color-scale-blue-500: #1e3cf2;
  --color-scale-blue-600: #375fff;
  --color-scale-blue-700: #5f83ff;
  --color-scale-blue-800: #8dabff;
  --color-scale-blue-900: #bdd1ff;
  --color-scale-blue-950: #ebf1ff;
  --color-scale-yellow-100: #1a130c;
  --color-scale-yellow-200: #47341c;
  --color-scale-yellow-300: #755323;
  --color-scale-yellow-400: #a37122;
  --color-scale-yellow-500: #d18d17;
  --color-scale-yellow-600: #ffa800;
  --color-scale-yellow-700: #ffb741;
  --color-scale-yellow-800: #ffc97f;
  --color-scale-yellow-900: #ffdfb9;
  --color-scale-yellow-950: #fff7f0;
  --color-scale-green-100: #1b2e11;
  --color-scale-green-200: #234a15;
  --color-scale-green-300: #246616;
  --color-scale-green-400: #1e8214;
  --color-scale-green-500: #129e14;
  --color-scale-green-600: #12ba23;
  --color-scale-green-700: #42cb3e;
  --color-scale-green-800: #85dd76;
  --color-scale-green-900: #c5eeb6;
  --color-scale-green-950: #EEFEE6;
  --color-scale-gray-alpha-200: rgba(25, 25, 26, 0.08);
  --color-scale-gray-alpha-300: rgba(25, 25, 26, 0.16);
  --color-scale-gray-alpha-400: rgba(25, 25, 26, 0.24);
  --color-scale-gray-alpha-500: rgba(25, 25, 26, 0.54);
  --color-scale-gray-alpha-600: rgba(25, 25, 26, 0.64);
  --color-scale-gray-alpha-700: rgba(25, 25, 26, 0.74);
  --color-scale-gray-alpha-800: rgba(25, 25, 26, 0.84);
  --color-scale-orange-red-alpha-200: rgba(88, 38, 9, 0.08);
  --color-scale-orange-red-alpha-300: rgba(88, 38, 9, 0.16);
  --color-scale-orange-red-alpha-400: rgba(88, 38, 9, 0.24);
  --color-scale-deep-red-alpha-200: rgba(204, 20, 20, 0.08);
  --color-scale-deep-red-alpha-300: rgba(204, 20, 20, 0.16);
  --color-scale-deep-red-alpha-400: rgba(204, 20, 20, 0.24);
  --color-scale-blue-alpha-200: rgba(1, 4, 116, 0.08);
  --color-scale-blue-alpha-300: rgba(1, 4, 116, 0.16);
  --color-scale-blue-alpha-400: rgba(1, 4, 116, 0.24);
  --color-scale-green-alpha-200: rgba(36, 102, 22, 0.08);
  --color-scale-green-alpha-300: rgba(36, 102, 22, 0.16);
  --color-scale-green-alpha-400: rgba(36, 102, 22, 0.24);
  --color-fill-navigation: var(--color-static-black-alpha-900);
}
